.app-card {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;
}

.btn-search {
  background-color: rgb(240, 246, 241);
}

.input-city-form {
  width: 300px;
  font-size: 13px;
  margin: 6px 0 4px 13px;
  padding: 6px 0 4px 13px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}
.current-city-button {
  width: 66.6px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2px 0px 3px 0px;
  border: 1px solid #000000;
  background: #069717;
  margin: -30px 0px 0px 251px;
}
.current-city-name {
  font-size: 30px;
  margin: 3px 7px 3px 13px;
  text-transform: capitalize;
}
.current-city-temperature {
  font-size: 45px;
  padding-top: 0px;
  margin: -5px 0px 0px 13px;
}
.temp-unit {
  position: relative;
  top: -21px;
  font-size: 15px;
}
.weather-pic {
  margin: -106px 0 0 112px;
}
.current-weather-details {
  font-size: 20px;
  margin: -93px 0px 0px 210px;
  font-weight: lighter;
}

.current-data {
  margin: -4px 0px 0px 13px;
}
.forecast {
  margin: -1px -41px 10px -11px;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday {
  text-align: center;
}
